In [1]:
import twstock

In [6]:
stock = twstock.Stock('5478')

In [7]:
stock.data

[Data(date=datetime.datetime(2018, 8, 21, 0, 0), capacity=113000, turnover=8333000, open=73.4, high=74.8, low=72.4, close=74.0, change=1.5, transaction=99),
 Data(date=datetime.datetime(2018, 8, 22, 0, 0), capacity=80000, turnover=5947000, open=74.1, high=75.0, low=74.0, close=74.7, change=0.7, transaction=71),
 Data(date=datetime.datetime(2018, 8, 23, 0, 0), capacity=124000, turnover=9347000, open=75.9, high=75.9, low=74.7, close=74.7, change=0.0, transaction=114),
 Data(date=datetime.datetime(2018, 8, 24, 0, 0), capacity=49000, turnover=3673000, open=73.7, high=75.0, low=73.7, close=74.4, change=-0.3, transaction=53),
 Data(date=datetime.datetime(2018, 8, 27, 0, 0), capacity=55000, turnover=4116000, open=74.4, high=74.8, low=74.2, close=74.4, change=0.0, transaction=57),
 Data(date=datetime.datetime(2018, 8, 28, 0, 0), capacity=165000, turnover=12350000, open=74.8, high=75.1, low=74.2, close=75.0, change=0.6, transaction=145),
 Data(date=datetime.datetime(2018, 8, 29, 0, 0), capacity=125000, turnover=9134000, open=73.5, high=73.6, low=72.4, close=73.0, change=0.0, transaction=128),
 Data(date=datetime.datetime(2018, 8, 30, 0, 0), capacity=61000, turnover=4474000, open=73.0, high=73.4, low=72.5, close=73.3, change=0.3, transaction=65),
 Data(date=datetime.datetime(2018, 8, 31, 0, 0), capacity=76000, turnover=5506000, open=73.5, high=73.5, low=72.4, close=72.4, change=-0.9, transaction=79),
 Data(date=datetime.datetime(2018, 9, 3, 0, 0), capacity=62000, turnover=4523000, open=72.4, high=73.7, low=72.3, close=72.5, change=0.1, transaction=64),
 Data(date=datetime.datetime(2018, 9, 4, 0, 0), capacity=58000, turnover=4248000, open=72.5, high=73.5, low=72.5, close=73.3, change=0.8, transaction=66),
 Data(date=datetime.datetime(2018, 9, 5, 0, 0), capacity=23000, turnover=1692000, open=73.6, high=73.6, low=73.0, close=73.0, change=-0.3, transaction=27),
 Data(date=datetime.datetime(2018, 9, 6, 0, 0), capacity=61000, turnover=4468000, open=72.6, high=73.6, low=72.6, close=73.0, change=0.0, transaction=54),
 Data(date=datetime.datetime(2018, 9, 7, 0, 0), capacity=146000, turnover=10474000, open=72.7, high=73.2, low=70.5, close=71.3, change=-1.7, transaction=104),
 Data(date=datetime.datetime(2018, 9, 10, 0, 0), capacity=122000, turnover=8466000, open=70.0, high=71.0, low=68.2, close=68.7, change=-2.6, transaction=111),
 Data(date=datetime.datetime(2018, 9, 11, 0, 0), capacity=128000, turnover=8790000, open=68.2, high=69.5, low=68.1, close=69.5, change=0.8, transaction=121),
 Data(date=datetime.datetime(2018, 9, 12, 0, 0), capacity=64000, turnover=4468000, open=70.5, high=70.5, low=69.5, close=69.9, change=0.4, transaction=66),
 Data(date=datetime.datetime(2018, 9, 13, 0, 0), capacity=103000, turnover=7237000, open=70.3, high=70.6, low=69.8, close=70.3, change=0.4, transaction=100),
 Data(date=datetime.datetime(2018, 9, 14, 0, 0), capacity=206000, turnover=14790000, open=69.8, high=72.4, low=69.8, close=72.0, change=1.7, transaction=170),
 Data(date=datetime.datetime(2018, 9, 17, 0, 0), capacity=245000, turnover=18435000, open=74.0, high=77.6, low=73.2, close=73.8, change=1.8, transaction=227),
 Data(date=datetime.datetime(2018, 9, 18, 0, 0), capacity=97000, turnover=7072000, open=74.2, high=74.2, low=71.8, close=71.8, change=-2.0, transaction=86),
 Data(date=datetime.datetime(2018, 9, 19, 0, 0), capacity=93000, turnover=6718000, open=71.8, high=73.0, low=71.2, close=71.2, change=-0.6, transaction=86),
 Data(date=datetime.datetime(2018, 9, 20, 0, 0), capacity=76000, turnover=5423000, open=71.7, high=71.9, low=71.0, close=71.3, change=0.1, transaction=78),
 Data(date=datetime.datetime(2018, 9, 21, 0, 0), capacity=118000, turnover=8448000, open=71.4, high=72.1, low=71.0, close=71.9, change=0.6, transaction=115),
 Data(date=datetime.datetime(2018, 9, 25, 0, 0), capacity=87000, turnover=6241000, open=72.1, high=72.2, low=71.1, close=71.1, change=-0.8, transaction=78),
 Data(date=datetime.datetime(2018, 9, 26, 0, 0), capacity=63000, turnover=4482000, open=71.1, high=71.9, low=71.1, close=71.6, change=0.5, transaction=65),
 Data(date=datetime.datetime(2018, 9, 27, 0, 0), capacity=209000, turnover=15391000, open=72.0, high=74.5, low=72.0, close=73.0, change=1.4, transaction=199),
 Data(date=datetime.datetime(2018, 9, 28, 0, 0), capacity=119000, turnover=8742000, open=73.0, high=74.5, low=72.7, close=72.7, change=-0.3, transaction=120),
 Data(date=datetime.datetime(2018, 10, 1, 0, 0), capacity=60000, turnover=4403000, open=72.7, high=73.6, low=72.7, close=73.5, change=0.8, transaction=62),
 Data(date=datetime.datetime(2018, 10, 2, 0, 0), capacity=52000, turnover=3797000, open=73.9, high=73.9, low=72.5, close=72.9, change=-0.6, transaction=62),
 Data(date=datetime.datetime(2018, 10, 3, 0, 0), capacity=72000, turnover=5229000, open=72.5, high=73.5, low=72.0, close=72.4, change=-0.5, transaction=72)]

In [8]:
stock.capacity

[113000,
 80000,
 124000,
 49000,
 55000,
 165000,
 125000,
 61000,
 76000,
 62000,
 58000,
 23000,
 61000,
 146000,
 122000,
 128000,
 64000,
 103000,
 206000,
 245000,
 97000,
 93000,
 76000,
 118000,
 87000,
 63000,
 209000,
 119000,
 60000,
 52000,
 72000]

In [12]:
prices = stock.fetch(2018, 9)